---
import Layout from "../layouts/Layout.astro";
import DestinationPage from "../components/DestinationPage";
import { getImage } from "astro:assets";
import bhutanBg from "../assets/images/destinations/bhutan/Bhutan-bg.webp";
import bhutanGate from "../assets/images/destinations/bhutan/bhutan-gate.webp";
import bhutanWeave from "../assets/images/destinations/bhutan/bhutan-weave.webp";
import bhutanFurniture from "../assets/images/destinations/bhutan/bhutan-furniture.webp";

const optimizedBg = await getImage({
    src: bhutanBg,
    format: "webp",
    width: 2560,
});
const optimizedGate = await getImage({
    src: bhutanGate,
    format: "webp",
    width: 800,
});
const optimizedWeave = await getImage({
    src: bhutanWeave,
    format: "webp",
    width: 800,
});
const optimizedFurniture = await getImage({
    src: bhutanFurniture,
    format: "webp",
    width: 800,
});
---

<Layout
    title="Bhutan"
    description="Experience the Kingdom of Bhutan, the Last Shangri-La. Immerse yourself in a land where Gross National Happiness is a way of life, with ancient dzongs and pristine nature."
    image={optimizedBg.src}
    keywords="Bhutan travel, Bhutan tours, Tiger's Nest, Bhutan trekking, cultural tours Bhutan, Paro Dzong, Thimphu, luxury travel Bhutan"
>
    <DestinationPage
        country="Bhutan"
        heroImage={optimizedBg.src}
        mainTitle="The Last <span class='text-brand italic font-serif'>Shangri-La</span>"
        description="Discover the land of the Thunder Dragon, where Happiness is the only currency. In this ancient Kingdom, let your true self be free and Feel the weightless peace of the Tiger’s Nest monastery and witness vibrant,swirling festivals in a land where nature and spirit exist in a perfect, silent embrace."
        features={[
            {
                title: "Architectural Marvels",
                text: "Stand before the grand gates of Punakha Dzong, where administrative prowess meets monastic peace.",
                image: optimizedGate.src,
            },
            {
                title: "Living Heritage",
                text: "Experience the timeless traditions of daily life, from archery tournaments to the weaving of intricate textiles.",
                image: optimizedWeave.src,
            },
            {
                title: "Sacred Arts",
                text: "Witness the devotion in every brushstroke of Thangka paintings and the craft of traditional furniture.",
                image: optimizedFurniture.src,
            },
        ]}
        client:visible
    />
</Layout>
